<div class="container home-container">
  <app-coverflow-slider></app-coverflow-slider>
  <div class="list-music history-list">
    <div class="list-music-heading">
      <h2>Gần đây</h2>
    </div>
    <div class="list-music-content">
      <div class="list-music-item">
        <div class="item-music-image" [routerLink]="['/deital']">
          <img src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/2/3/d/3/23d3bfa1656027dcf914d9c3bae263eb.jpg"
               alt="">
          <div class="position-img">
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite_border</mat-icon>
            </button>
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
        </div>
        <div class="item-music-name">
          <p>Những bài hát hay nhất của Mr Siro</p>
        </div>
      </div>
      <div class="list-music-item">
        <div class="item-music-image" [routerLink]="['/deital']">
          <img src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/2/3/d/3/23d3bfa1656027dcf914d9c3bae263eb.jpg"
               alt="">
          <div class="position-img">
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite_border</mat-icon>
            </button>
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
        </div>
        <div class="item-music-name">
          <p>Những bài hát hay nhất của Mr Siro</p>
        </div>
      </div>
      <div class="list-music-item">
        <div class="item-music-image" [routerLink]="['/deital']">
          <img src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/2/3/d/3/23d3bfa1656027dcf914d9c3bae263eb.jpg"
               alt="">
          <div class="position-img">
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite_border</mat-icon>
            </button>
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
        </div>
        <div class="item-music-name">
          <p>Những bài hát hay nhất của Mr Siro</p>
        </div>
      </div>
      <div class="list-music-item">
        <div class="item-music-image" [routerLink]="['/deital']">
          <img src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/2/3/d/3/23d3bfa1656027dcf914d9c3bae263eb.jpg"
               alt="">
          <div class="position-img">
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite_border</mat-icon>
            </button>
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
            <button (click)="onSubmit($event)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
        </div>
        <div class="item-music-name">
          <p>Những bài hát hay nhất của Mr Siro</p>
        </div>
      </div>


    </div>
  </div>

  <div class="list-music maybe-list">
    <div class="list-music-heading">
      <h2>Có thể bạn muốn nghe</h2>
    </div>
    <div class="list-music-content">
      <swiper
        [navigation]="true"
        [slidesPerView]="4"
        [spaceBetween]="30"
        class="mySwiper">
        <ng-template swiperSlide>
          <div class="list-music-item">
            <div class="item-music-image">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/1/8/d/518d513f6b09fce0c39f48c1dfc93707.jpg"
                alt="">
              <div class="position-img">
                <button  mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
            </div>
            <div class="item-music-name">
              <p>Everyday favorite</p>
              <span class="discript">Enjoy cả ngày với những bản Hits nghe không biết chán là ...</span>
            </div>
          </div>
        </ng-template>
       <ng-template swiperSlide>
          <div class="list-music-item">
            <div class="item-music-image">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/1/8/d/518d513f6b09fce0c39f48c1dfc93707.jpg"
                alt="">
              <div class="position-img">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
            </div>
            <div class="item-music-name">
              <p>Everyday favorite</p>
              <span class="discript">Enjoy cả ngày với những bản Hits nghe không biết chán là ...</span>
            </div>
          </div>
        </ng-template>
       <ng-template swiperSlide>
          <div class="list-music-item">
            <div class="item-music-image">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/1/8/d/518d513f6b09fce0c39f48c1dfc93707.jpg"
                alt="">
              <div class="position-img">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
            </div>
            <div class="item-music-name">
              <p>Everyday favorite</p>
              <span class="discript">Enjoy cả ngày với những bản Hits nghe không biết chán là ...</span>
            </div>
          </div>
        </ng-template>
       <ng-template swiperSlide>
          <div class="list-music-item">
            <div class="item-music-image">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/1/8/d/518d513f6b09fce0c39f48c1dfc93707.jpg"
                alt="">
              <div class="position-img">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
            </div>
            <div class="item-music-name">
              <p>Everyday favorite</p>
              <span class="discript">Enjoy cả ngày với những bản Hits nghe không biết chán là ...</span>
            </div>
          </div>
        </ng-template>
       <ng-template swiperSlide>
          <div class="list-music-item">
            <div class="item-music-image">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/1/8/d/518d513f6b09fce0c39f48c1dfc93707.jpg"
                alt="">
              <div class="position-img">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
            </div>
            <div class="item-music-name">
              <p>Everyday favorite</p>
              <span class="discript">Enjoy cả ngày với những bản Hits nghe không biết chán là ...</span>
            </div>
          </div>
        </ng-template>
       <ng-template swiperSlide>
          <div class="list-music-item">
            <div class="item-music-image">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/1/8/d/518d513f6b09fce0c39f48c1dfc93707.jpg"
                alt="">
              <div class="position-img">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
            </div>
            <div class="item-music-name">
              <p>Everyday favorite</p>
              <span class="discript">Enjoy cả ngày với những bản Hits nghe không biết chán là ...</span>
            </div>
          </div>
        </ng-template>
       <ng-template swiperSlide>
          <div class="list-music-item">
            <div class="item-music-image">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/1/8/d/518d513f6b09fce0c39f48c1dfc93707.jpg"
                alt="">
              <div class="position-img">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
            </div>
            <div class="item-music-name">
              <p>Everyday favorite</p>
              <span class="discript">Enjoy cả ngày với những bản Hits nghe không biết chán là ...</span>
            </div>
          </div>
        </ng-template>


      </swiper>
    </div>
  </div>
</div>
<!--</div>-->
