<swiper
  [effect]="'coverflow'"
  [grabCursor]="true"
  [centeredSlides]="true"
  [slidesPerView]="'auto'"
  [speed]="1600"
  [loop]="true"
  [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 0.5,
      slideShadows: true
    }"
  [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
  [navigation]="true"
  class="mySwiper">
  <ng-template swiperSlide><a href="">
    <img
    src="https://photo-zmp3.zadn.vn/banner/2/6/3/6/26365022158d2a4ecf7b2a4f04f8948a.jpg"/></a></ng-template>
  <ng-template swiperSlide><a href="">
    <img
    src="https://photo-zmp3.zadn.vn/banner/d/f/8/c/df8c3a915aee5190451ab2203ca0e503.jpg"/></a></ng-template>
  <ng-template swiperSlide><a href="">
    <img
    src="https://photo-zmp3.zadn.vn/banner/f/f/6/a/ff6aa0af099e7047fd52841c2db3fe14.jpg"/></a></ng-template>
  <ng-template swiperSlide><a href="">
    <img
    src="https://photo-zmp3.zadn.vn/banner/b/0/d/c/b0dc4a1e0534dd6cea9c61e76c1189b1.jpg"/></a></ng-template>
  <ng-template swiperSlide><a href="">
    <img
    src="https://photo-zmp3.zadn.vn/banner/9/c/b/e/9cbea292b0477fdf9fdf4a46287c2625.jpg"/></a></ng-template>
  <!--  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-2.jpg"/></ng-template>-->
  <!--  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-3.jpg"/></ng-template>-->
  <!--  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-4.jpg"/></ng-template>-->
  <!--  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-5.jpg"/></ng-template>-->
  <!--  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-6.jpg"/></ng-template>-->
  <!--  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-7.jpg"/></ng-template>-->
  <!--  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-8.jpg"/></ng-template>-->
  <!--  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-9.jpg"/></ng-template>-->
</swiper>

