<div class="container deitai-container">
  <div class="row" style="height: 100%">
    <div class="music-song-card">
      <mat-card class="example-card">
        <div class="song-image">
          <img mat-card-image
               src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/e/8/f/7/e8f71876c39f6a5d1b182731dc5a76cf.jpg"
               alt="Photo of a Shiba Inu">
        </div>
        <mat-card-content>
          <h2 class="song-name"> Sing alone US-UK</h2>
          <p>
            Cập nhật:
          </p>
          <p><a href="">Katy Perry</a>,<a href="">Taylor Swift</a>,<a href="">Maroon 5</a></p>
        </mat-card-content>
        <div class="control-play d-flex justify-content-center">
          <button class="btn text-uppercase active">
            <span class="material-icons">pause</span>
            <span>tạm dừng</span>
          </button>
          <button class="btn text-uppercase" hidden>
            <span class="material-icons">play_arrow</span>
            <span>Bắt đầu phát</span>
          </button>
        </div>
        <mat-card-actions class="d-flex justify-content-center">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-button>
            <span class="material-icons">more_horiz</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="music-lyrics ">
      <p>Bài Hát: What Makes You Beautiful</p>
      <p>Ca Sĩ: One Direction</p>
      <p>You're insecure</p>
      <p>Don't know what for</p>
      <p>You're turning heads</p>
      <p>When you walk through the do o or</p>
      <p>Don't need make up to cover up</p>
      <p>Being the way that you are is e eno ough</p>
      <p>Everyone else in the room can see it</p>
      <p>Everyone else but you</p>
      <p>Baby you light up my world</p>
      <p>Like nobody else</p>
      <p>The way that you flip your hair</p>
      <p>Gets me overwhelmed</p>
      <p>But when you smile at the ground</p>
      <p>It ain't hard to tell</p>
      <p>You don't know oh oh</p>
      <p>You don't know you're beautiful</p>
      <p>If only you saw what I can see</p>
      <p>You'll understand</p>
      <p>Why I want you so desperately</p>
      <p>Right now I'm looking at you</p>
      <p>And I can't believe</p>
      <p>You don't know oh oh</p>
      <p>You don't know you're beautiful</p>
      <p>Oh oh that's what makes you beautiful</p>
      <p>So c-come on you got it wrong</p>
      <p>To prove I'm right I put it in a so o ong</p>
      <p>I don't know why you're being shy</p>
      <p>And turn away when I look into</p>
      <p>Your eye eye eyes</p>
      <p>Everyone else in the room can see it</p>
      <p>Everyone else but you</p>
      <p>Baby you light up my world</p>
      <p>Like nobody else</p>
      <p>The way that you flip your hair</p>
      <p>Gets me overwhelmed</p>
      <p>But when you smile at the ground</p>
      <p>It ain't hard to tell</p>
      <p>You don't know oh oh</p>
      <p>You don't know you're beautiful</p>
      <p>If only you saw what I can see</p>
      <p>You'll understand</p>
      <p>Why I want you so desperately</p>
      <p>Right now I'm looking at you</p>
      <p>And I can't believe</p>
      <p>You don't know oh oh</p>
      <p>You don't know you're beautiful</p>
      <p>Oh oh that's what makes you beautiful</p>
      <p>Nananana nananaaa nana</p>
      <p>Nananana nana</p>
      <p>Nananana nananaaa nana</p>
      <p>Nananana nana</p>
      <p>Baby you light up my world</p>
      <p>Like nobody else</p>
      <p>The way that you flip your hair</p>
      <p>Gets me overwhelmed</p>
      <p>But when you smile at the ground</p>
      <p>It ain't hard to tell</p>
      <p>You don't know oh oh</p>
      <p>You dont know you're beautiful</p>
      <p>Baby you light up my world</p>
      <p>Like nobody else</p>
      <p>The way that you flip your hair</p>
      <p>Gets me overwhelmed</p>
      <p>But when you smile at the ground</p>
      <p>It ain't hard to tell</p>
      <p>You don't know oh oh</p>
      <p>You dont know you're beautiful</p>
      <p>If only you saw what I can see</p>
      <p>You'll understand</p>
      <p>Why i want you so desperately</p>
      <p>right now I'm looking at you</p>
      <p>And I can't believe</p>
      <p>You don't know oh oh</p>
      <p>You dont know you're beautiful</p>
      <p>Oh oh you don't know you're beautiful</p>
      <p>Oh oh that's what makes you beautiful</p>
    </div>
  </div>
</div>
